$colors: (
  inputhover: rgba(164, 207, 248, 0.377),
  transparentwhite: #d1ecf38e,
  brandcolor: #ff00ff,
  brandwhite: #d1ecf3,
  branddark: #232424,
  brandgrey: #6c757d,
);
@function getColor($color) {
  @return map-get($colors, $color);
}
$phone: 576px;
$font-headings: "Gentium Book Basic", serif;
$font-primary: "Open Sans", sans-serif;
$font-nav: "Archivo Narrow", sans-serif;
